.line {
  margin: 0;
  background-color: #000;
  color: #000;
  width: 10px;
  align-self: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  align-items: center;
  background-color: #edebeb;
}

.title {
  font-size: 1.6rem;
  padding-left: 7%;
}

.navLinkContainer {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #000;
}
